In [9]:
import getpass
from pathlib import Path
import pandas as pd
import ast

In [4]:
user = getpass.getuser()

src = "/home/ORUNET/" + user + "/2303_Chalmers/Data/BWT_Annotation_Summer2023/Completed"


csv_paths = list(Path(src).glob('*.csv'))
pickle_paths = list(Path(src).glob('*.pickle'))

In [10]:
for path in csv_paths:
    df = pd.read_csv(path)

    df = pd.read_csv(path, converters={"result": ast.literal_eval})

    ratings_df = df[(df["type"] == "Rating")]

    for row in ratings_df.iterrows():
        print(row)

(0, result                      (1035_bwt_R_201.nii, 2)
diff_levels                                     NaN
time                                        5.77623
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 0, dtype: object)
(1, result                      (1070_bwt_R_173.nii, 1)
diff_levels                                     NaN
time                                       9.584645
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 1, dtype: object)
(2, result                      (1052_bwt_L_133.nii, 2)
diff_levels                                     NaN
time                                      18.864452
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 2, dtype: object)
(3, result                      (1037_bwt_L_177.nii, 0)
diff_levels                                     NaN
time                                      22.176763
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 3, dtype: object)
(4, result                      (1069_bwt_R_203.nii, 2)
diff_levels                                     NaN
time                                      24.751858
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 4, dtype: object)
(5, result                      (1010_bwt_R_175.nii, 2)
diff_levels                                     NaN
time                                      26.192195
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 5, dtype: object)
(6, result                      (1054_bwt_L_213.nii, 1)
diff_levels                                     NaN
time                                      28.128282
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 6, dtype: object)
(7, result                      (1039_bwt_R_473.nii, 0)
diff_levels                                     NaN
time                                      29.985132
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 7, dtype: object)
(8, result                      (1026_bwt_L_153.nii, 0)
diff_levels                                     NaN
time                                      31.792481
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 8, dtype: object)
(9, result                      (1016_bwt_R_273.nii, 2)
diff_levels                                     NaN
time                                      33.713355
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 9, dtype: object)
(10, result                      (1039_bwt_L_153.nii, 0)
diff_levels                                     NaN
time                                      37.376652
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 10, dtype: object)
(11, result                      (1005_bwt_R_313.nii, 2)
diff_levels                                     NaN
time                                      40.689609
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 11, dtype: object)
(12, result                      (1046_bwt_L_257.nii, 2)
diff_levels                                     NaN
time                                      43.696574
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 12, dtype: object)
(13, result                      (1072_bwt_L_311.nii, 1)
diff_levels                                     NaN
time                                      45.424693
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 13, dtype: object)
(14, result                      (1039_bwt_L_249.nii, 1)
diff_levels                                     NaN
time                                      46.784725
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 14, dtype: object)
(15, result                      (1014_bwt_R_109.nii, 0)
diff_levels                                     NaN
time                                      48.192409
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 15, dtype: object)
(16, result                      (1031_bwt_R_205.nii, 2)
diff_levels                                     NaN
time                                      49.776957
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 16, dtype: object)
(17, result                      (1016_bwt_R_311.nii, 3)
diff_levels                                     NaN
time                                      51.424436
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 17, dtype: object)
(18, result                      (1028_bwt_L_249.nii, 1)
diff_levels                                     NaN
time                                       53.84035
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 18, dtype: object)
(19, result                      (1005_bwt_L_130.nii, 0)
diff_levels                                     NaN
time                                      55.360486
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 19, dtype: object)
(20, result                      (1001_bwt_R_409.nii, 0)
diff_levels                                     NaN
time                                      56.976438
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 20, dtype: object)
(21, result                      (1045_bwt_R_253.nii, 1)
diff_levels                                     NaN
time                                      59.216534
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 21, dtype: object)
(22, result                      (1070_bwt_L_449.nii, 0)
diff_levels                                     NaN
time                                      60.625046
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 22, dtype: object)
(23, result                      (1001_bwt_R_177.nii, 1)
diff_levels                                     NaN
time                                      64.521957
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                         True
type                                         Rating
Name: 23, dtype: object)
(24, result                      (1001_bwt_R_177.nii, 2)
diff_levels                                     NaN
time                                      77.376819
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 24, dtype: object)
(25, result                      (1071_bwt_R_311.nii, 2)
diff_levels                                     NaN
time                                      79.136239
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 25, dtype: object)
(26, result                      (1006_bwt_L_261.nii, 1)
diff_levels                                     NaN
time                                      80.608313
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 26, dtype: object)
(27, result                      (1036_bwt_L_105.nii, 0)
diff_levels                                     NaN
time                                      81.872352
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 27, dtype: object)
(28, result                      (1058_bwt_L_461.nii, 0)
diff_levels                                     NaN
time                                      83.568569
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 28, dtype: object)
(29, result                      (1007_bwt_L_273.nii, 0)
diff_levels                                     NaN
time                                      86.128234
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 29, dtype: object)
(30, result                      (1038_bwt_L_181.nii, 1)
diff_levels                                     NaN
time                                      88.480079
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 30, dtype: object)
(31, result                      (1003_bwt_R_441.nii, 0)
diff_levels                                     NaN
time                                      90.127948
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 31, dtype: object)
(32, result                      (1021_bwt_R_175.nii, 2)
diff_levels                                     NaN
time                                      91.600118
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 32, dtype: object)
(33, result                       (1016_bwt_R_81.nii, 0)
diff_levels                                     NaN
time                                      93.360696
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 33, dtype: object)
(34, result                      (1040_bwt_R_269.nii, 1)
diff_levels                                     NaN
time                                      95.407695
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 34, dtype: object)
(35, result                      (1030_bwt_L_401.nii, 1)
diff_levels                                     NaN
time                                      97.712383
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 35, dtype: object)
(36, result                      (1018_bwt_R_301.nii, 1)
diff_levels                                     NaN
time                                      99.504094
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 36, dtype: object)
(37, result                      (1027_bwt_R_449.nii, 0)
diff_levels                                     NaN
time                                     100.768707
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 37, dtype: object)
(38, result                      (1004_bwt_L_445.nii, 0)
diff_levels                                     NaN
time                                     101.824513
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 38, dtype: object)
(39, result                      (1047_bwt_L_393.nii, 1)
diff_levels                                     NaN
time                                     104.080383
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 39, dtype: object)
(40, result                      (1008_bwt_L_161.nii, 0)
diff_levels                                     NaN
time                                     106.384112
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 40, dtype: object)
(41, result                      (1066_bwt_L_397.nii, 1)
diff_levels                                     NaN
time                                     108.607783
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 41, dtype: object)
(42, result                      (1027_bwt_R_481.nii, 0)
diff_levels                                     NaN
time                                     110.159751
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 42, dtype: object)
(43, result                      (1063_bwt_L_353.nii, 2)
diff_levels                                     NaN
time                                     114.160605
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 43, dtype: object)
(44, result                      (1005_bwt_L_386.nii, 0)
diff_levels                                     NaN
time                                     116.306535
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 44, dtype: object)
(45, result                      (1038_bwt_L_333.nii, 1)
diff_levels                                     NaN
time                                     118.927995
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 45, dtype: object)
(46, result                      (1010_bwt_L_221.nii, 2)
diff_levels                                     NaN
time                                     121.440726
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 46, dtype: object)
(47, result                      (1035_bwt_R_313.nii, 0)
diff_levels                                     NaN
time                                     125.536309
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 47, dtype: object)
(48, result                      (1053_bwt_L_405.nii, 0)
diff_levels                                     NaN
time                                     129.791882
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 48, dtype: object)
(49, result                       (1032_bwt_L_85.nii, 0)
diff_levels                                     NaN
time                                     132.112104
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False
type                                         Rating
Name: 49, dtype: object)
(50, result                      (1002_bwt_L_489.nii, 0)
diff_levels                                     NaN
time                                     133.375839
session        888fefe7-ddac-4dec-bbbb-55ec3edaf762
user                                             ML
undone                                        False